:root {
  --timberwolf: #dad7cdff;
  --laurel-green: #a3b18aff;
  --fern-green: #588157ff;
  --hunter-green: #3a5a40ff;
  --brunswick-green: #344e41ff;
}

/* header css */

.header {
  display: flex;
  padding: 0;
  width: 100%;
  height: auto;
  /* position: absolute; */
  align-items: center;
  background-color: var(--hunter-green);
  font-size: 20px;
  color: var(--timberwolf);
}

.name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
  padding-left: 20px;
}

.nav-bar {
  margin-left: auto;
}

.nav-list {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  margin: 18px;
  color: var(--timberwolf);
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a:hover {
  color: var(--timberwolf);
  background-color: var(--laurel-green);
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

/* About me CSS */

.about-me-title {
  color: var(--hunter-green);
  margin: 30px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.image-Container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: var(--laurel-green);
}

.image-Container img {
  margin: 40px;
  border-radius: 30px;
}

.bio {
  text-align: center;
  font-size: 2rem;
}

/* portfolio css */

.card-container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.single-portfolio-card {
  margin: 30px;
  box-shadow: var(--fern-green) 5px 5px;
}

.project-title {
  text-align: center;
  font-size: large;
  color: var(--brunswick-green);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* contact me css */

.contact-me-title {
  text-align: center;
  font-size: 30px;
  color: var(--hunter-green);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.form-container {
  border: solid var(--hunter-green);
  width: 400px;
  padding: 30px;
}

.submit-button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: var(--timberwolf);
  background-color: var(--hunter-green);
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
}

/* Resume css */

.container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.Resume {
  margin-right: 80px;
  color: var(--fern-green);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Skills {
  margin-left: 80px;
  color: var(--fern-green);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* footer css */

.icon-containers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
}
